<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" >
      Cadastro professor
    </a>
  </nav>
  <form >
      <div class="form-group row" >
        <label for="inputEmail3" class="col-sm-2 col-form-label" ></label>
        <div class="col-sm-6" >
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label" ></label>
        <div class="col-sm-6">
          <input type="nome1" class="form-control" id="inputnome1" placeholder="nome">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label" ></label>
        <div class="col-sm-6">
          <input type="nome2" class="form-control" id="inputnome2" placeholder="sobrenome">
        </div>
      </div>
      <div class= "row">
        <label for="inputPassword3" class="col-sm-2 col-form-label" ></label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
    <br>
    <br>
    <br>
      <div class="form-group row">
        <div class="col-sm-10"  style="text-align: center;">
          <button type="submit" class="btn btn-primary" >Registrar</button>
        </div>
      </div>
    </form>
  